/**
 * CSS for the custom Docusaurus landing page.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContent {
  padding: 2rem 0;
  background-color: var(--ifm-color-emphasis-100); /* A light background color */
}

.heroContent h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.heroContent p {
  font-size: 1.1rem;
  max-width: 800px;
  margin: 0 auto 2rem auto;
  color: var(--ifm-font-color-secondary);
}

.heroImage {
  max-width: 80%; /* Adjust as needed */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
}
